.bgimage {
  background: url("./img/cloud.png") center no-repeat fixed;
  background-size: cover;
  background-position-x: 100%;
  animation: moving 40s linear infinite;
}

@keyframes moving {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}

.treeBG {
  background: url("./img/treebg.png") center no-repeat;
  background-size: contain;
}
